In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [28]:
APStest = pd.read_csv("test.csv",engine='python', encoding='utf-8', error_bad_lines=False)
APStest

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,25971,78463,Male,disloyal Customer,34,Business travel,Business,526,3,3,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
25972,25972,71167,Male,Loyal Customer,23,Business travel,Business,646,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
25973,25973,37675,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
25974,25974,90086,Male,Loyal Customer,14,Business travel,Business,1127,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
25975,25975,34799,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [29]:
APStrain = pd.read_csv("train.csv",engine='python', encoding='utf-8', error_bad_lines=False)
APStrain

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,103899,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,...,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
103900,103900,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,...,5,5,5,5,5,5,4,0,0.0,satisfied
103901,103901,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,...,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
103902,103902,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,...,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
103903,103903,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,...,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied

In [30]:
print(APStrain.shape)
print('_'*30)
print(APStrain.isna().sum())
print('_'*30)
APStrain.info()

(103904, 25)
______________________________
Unnamed: 0                             0
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64
______________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         103904 non-null  int64
 1   id                                 103904 non-null  int64
 2   Gender                             103904 non-null  object
 3   Customer Type                      103904 non-null  object
 4   Age                                103904 non-null  int64
 5   Type of Travel                     103904 non-null  object
 6   Class                              103904 non-null  object
 7   Flight Distance                    103904 non-null  int64
 8   Inflight wifi service              103904 non-null  int64
 9   Departure/Arrival time convenient  103904 non-null  int64
 10  Ease of Online booking             103904 non-null  int64
 11  Gate location                      103904 non-null  int64
 12  Food and drink                     103904 non-null  int64
 13  Online boarding                    103904 non-null  int64
 14  Seat comfort                       103904 non-null  int64
 15  Inflight entertainment             103904 non-null  int64
 16  On-board service                   103904 non-null  int64
 17  Leg room service                   103904 non-null  int64
 18  Baggage handling                   103904 non-null  int64
 19  Checkin service                    103904 non-null  int64
 20  Inflight service                   103904 non-null  int64
 21  Cleanliness                        103904 non-null  int64
 22  Departure Delay in Minutes         103904 non-null  int64
 23  Arrival Delay in Minutes           103594 non-null  float64
 24  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB

In [31]:
print(APStest.shape)
print('_'*30)
print(APStest.isna().sum())
print('_'*30)
APStest.info()

(25976, 25)
______________________________
Unnamed: 0                            0
id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             83
satisfaction                          0
dtype: int64
______________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         25976 non-null  int64
 1   id                                 25976 non-null  int64
 2   Gender                             25976 non-null  object
 3   Customer Type                      25976 non-null  object
 4   Age                                25976 non-null  int64
 5   Type of Travel                     25976 non-null  object
 6   Class                              25976 non-null  object
 7   Flight Distance                    25976 non-null  int64
 8   Inflight wifi service              25976 non-null  int64
 9   Departure/Arrival time convenient  25976 non-null  int64
 10  Ease of Online booking             25976 non-null  int64
 11  Gate location                      25976 non-null  int64
 12  Food and drink                     25976 non-null  int64
 13  Online boarding                    25976 non-null  int64
 14  Seat comfort                       25976 non-null  int64
 15  Inflight entertainment             25976 non-null  int64
 16  On-board service                   25976 non-null  int64
 17  Leg room service                   25976 non-null  int64
 18  Baggage handling                   25976 non-null  int64
 19  Checkin service                    25976 non-null  int64
 20  Inflight service                   25976 non-null  int64
 21  Cleanliness                        25976 non-null  int64
 22  Departure Delay in Minutes         25976 non-null  int64
 23  Arrival Delay in Minutes           25893 non-null  float64
 24  satisfaction                       25976 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 5.0+ MB

In [32]:
#удаляем ненужные столбцы
APStest = APStest.drop(['Unnamed: 0', 'id'], axis=1)
APStrain = APStrain.drop(['Unnamed: 0', 'id'], axis=1)

In [33]:
#разбиваем категориальные признаки с маеьким количеством уникальных значений на разные столбцы
APStest = pd.get_dummies(APStest, columns=['Gender','Customer Type','Type of Travel','Class','satisfaction'])
APStrain = pd.get_dummies(APStrain, columns=['Gender','Customer Type','Type of Travel','Class','satisfaction'])

In [34]:
#убираем пустые значения
APStest=APStest.dropna()

In [35]:
APStest

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,...,Gender_Male,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_neutral or dissatisfied,satisfaction_satisfied
0,52,160,5,4,3,4,3,4,3,5,...,0,1,0,1,0,0,1,0,0,1
1,36,2863,1,1,3,1,5,4,5,4,...,0,1,0,1,0,1,0,0,0,1
2,20,192,2,0,2,4,2,2,2,2,...,1,0,1,1,0,0,1,0,1,0
3,44,3377,0,0,0,2,3,4,4,1,...,1,1,0,1,0,1,0,0,0,1
4,49,1182,2,3,4,3,4,1,2,2,...,0,1,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,34,526,3,3,3,1,4,3,4,4,...,1,0,1,1,0,1,0,0,1,0
25972,23,646,4,4,4,4,4,4,4,4,...,1,1,0,1,0,1,0,0,0,1
25973,17,828,2,5,1,5,2,1,2,2,...,0,1,0,0,1,0,1,0,1,0
25974,14,1127,3,3,3,3,4,4,4,4,...,1,1,0,1,0,1,0,0,0,1
25975,42,264,2,5,2,5,4,2,2,1,...,0,1,0,0,1,0,1,0,1,0

In [36]:
#убираем пустые значения
APStrain=APStrain.dropna()

In [37]:
APStrain

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,...,Gender_Male,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_neutral or dissatisfied,satisfaction_satisfied
0,13,460,3,4,3,1,5,3,5,5,...,1,1,0,0,1,0,0,1,1,0
1,25,235,3,2,3,3,1,3,1,1,...,1,0,1,1,0,1,0,0,1,0
2,26,1142,2,2,2,2,5,5,5,5,...,0,1,0,1,0,1,0,0,0,1
3,25,562,2,5,5,5,2,2,2,2,...,0,1,0,1,0,1,0,0,1,0
4,61,214,3,3,3,3,4,5,5,3,...,1,1,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,23,192,2,1,2,3,2,2,2,2,...,0,0,1,1,0,0,1,0,1,0
103900,49,2347,4,4,4,4,2,4,5,5,...,1,1,0,1,0,1,0,0,0,1
103901,30,1995,1,1,1,3,4,1,5,4,...,1,0,1,1,0,1,0,0,1,0
103902,22,1000,1,1,1,5,1,1,1,1,...,0,0,1,1,0,0,1,0,1,0
103903,27,1723,1,3,3,3,1,1,1,1,...,1,1,0,1,0,1,0,0,1,0

In [38]:
#удаляем ненужные столбцы (снова)
X_train = APStrain.drop(['satisfaction_neutral or dissatisfied', 'satisfaction_satisfied'], axis = 1)
y_train = APStrain['satisfaction_satisfied']
X_test = APStest.drop(['satisfaction_neutral or dissatisfied', 'satisfaction_satisfied'], axis = 1)
y_test = APStest['satisfaction_satisfied']

print(X_test)
print(y_test)

       Age  Flight Distance  Inflight wifi service  \
0       52              160                      5
1       36             2863                      1
2       20              192                      2
3       44             3377                      0
4       49             1182                      2
...    ...              ...                    ...
25971   34              526                      3
25972   23              646                      4
25973   17              828                      2
25974   14             1127                      3
25975   42              264                      2

       Departure/Arrival time convenient  Ease of Online booking  \
0                                      4                       3
1                                      1                       3
2                                      0                       2
3                                      0                       0
4                                      3                       4
...                                  ...                     ...
25971                                  3                       3
25972                                  4                       4
25973                                  5                       1
25974                                  3                       3
25975                                  5                       2

       Gate location  Food and drink  Online boarding  Seat comfort  \
0                  4               3                4             3
1                  1               5                4             5
2                  4               2                2             2
3                  2               3                4             4
4                  3               4                1             2
...              ...             ...              ...           ...
25971              1               4                3             4
25972              4               4                4             4
25973              5               2                1             2
25974              3               4                4             4
25975              5               4                2             2

       Inflight entertainment  ...  Arrival Delay in Minutes  Gender_Female  \
0                           5  ...                      44.0              1
1                           4  ...                       0.0              1
2                           2  ...                       0.0              0
3                           1  ...                       6.0              0
4                           2  ...                      20.0              1
...                       ...  ...                       ...            ...
25971                       4  ...                       0.0              0
25972                       4  ...                       0.0              0
25973                       2  ...                       0.0              1
25974                       4  ...                       0.0              0
25975                       1  ...                       0.0              1

       Gender_Male  Customer Type_Loyal Customer  \
0                0                             1
1                0                             1
2                1                             0
3                1                             1
4                0                             1
...            ...                           ...
25971            1                             0
25972            1                             1
25973            0                             1
25974            1                             1
25975            0                             1

       Customer Type_disloyal Customer  Type of Travel_Business travel  \
0                                    0                               1
1                                    0                               1
2                                    1                               1
3                                    0                               1
4                                    0                               1
...                                ...                             ...
25971                                1                               1
25972                                0                               1
25973                                0                               0
25974                                0                               1
25975                                0                               0

       Type of Travel_Personal Travel  Class_Business  Class_Eco  \
0                                   0               0          1
1                                   0               1          0
2                                   0               0          1
3                                   0               1          0
4                                   0               0          1
...                               ...             ...        ...
25971                               0               1          0
25972                               0               1          0
25973                               1               0          1
25974                               0               1          0
25975                               1               0          1

       Class_Eco Plus
0                   0
1                   0
2                   0
3                   0
4                   0
...               ...
25971               0
25972               0
25973               0
25974               0
25975               0

[25893 rows x 27 columns]
0        1
1        1
2        0
3        1
4        1
        ..
25971    0
25972    1
25973    0
25974    1
25975    0
Name: satisfaction_satisfied, Length: 25893, dtype: uint8

In [39]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_st_train = scaler.fit_transform(X_train[:7000])
X_st_test = scaler.fit_transform(X_test[:7000])

In [40]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_norm_train = scaler.fit_transform(X_train[:7000])
X_norm_test = scaler.fit_transform(X_test[:7000])

In [41]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

scores = []
for i in range(1,15):
    knn = KNeighborsClassifier(i)
    knn.fit(X_st_train,y_train[:7000])
    answers = knn.predict(X_st_test)
    
    scores.append(knn.score(X_st_test, y_test[:7000]))

print(scores) #[0.8841428571428571, 0.882, 0.9001428571428571, 0.8917142857142857, 0.9035714285714286, 0.8992857142857142, 0.9047142857142857, 0.9017142857142857, 0.9044285714285715, 0.902, 0.9042857142857142, 0.9002857142857142, 0.9038571428571428, 0.9007142857142857]
# Значит 7 соседей является наилучшим выбором.

[0.8841428571428571, 0.882, 0.9001428571428571, 0.8917142857142857, 0.9035714285714286, 0.8992857142857142, 0.9047142857142857, 0.9017142857142857, 0.9044285714285715, 0.902, 0.9042857142857142, 0.9002857142857142, 0.9038571428571428, 0.9007142857142857]

In [43]:
max_score = max(scores)
scores_ind = [i for i, v in enumerate(scores) if v == max_score]
knn = KNeighborsClassifier(7)
knn.fit(X_st_train,y_train[:7000])
y_pred = knn.predict(X_st_test)
confusion_matrix(y_test[:7000],y_pred)

array([[3777,  156],
       [ 511, 2556]])

In [44]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score

y_test = y_test[:7000]
y_train = y_train[:7000]

print("Accuracy:", accuracy_score(y_test,y_pred))
print("Recall:", recall_score(y_test,y_pred))
print("Precision:", precision_score(y_test,y_pred))

# Accuracy: 0.9047142857142857
# Recall: 0.83338767525269
# Precision: 0.9424778761061947


# Все показатели довольно высокие.

Accuracy: 0.9047142857142857
Recall: 0.83338767525269
Precision: 0.9424778761061947

In [46]:
from sklearn.svm import SVC

svm = SVC()
svm.fit(X_st_train, y_train)
y_pred_svm = svm.predict(X_st_test)

In [50]:
print(confusion_matrix(y_test,y_pred_svm))
print("Accuracy:", accuracy_score(y_test,y_pred_svm))
print("Recall:", recall_score(y_test,y_pred_svm))
print("Precision:", precision_score(y_test,y_pred_svm))

# Accuracy: 0.9325714285714286
# Recall: 0.9041408542549723
# Precision: 0.9396814639105388

#Метод опорных векторов работает для этой задачи лучше, чем KNN почти по всем параметрам. Разве что Precision стал незначительно меньше.

[[3755  178]
 [ 294 2773]]
Accuracy: 0.9325714285714286
Recall: 0.9041408542549723
Precision: 0.9396814639105388

In [52]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(criterion='gini', max_depth=4, random_state=1)
tree.fit(X_st_train, y_train)
y_pred_tree = tree.predict(X_st_test)

print(confusion_matrix(y_test,y_pred_svm))
print("Accuracy:", accuracy_score(y_test,y_pred_tree))
print("Recall:", recall_score(y_test,y_pred_tree))
print("Precision:", precision_score(y_test,y_pred_tree))

# Accuracy: 0.8968571428571429
# Recall: 0.8509944571242256
# Precision: 0.9078260869565218

# 

# Кросс-валидацию использовать не стали, тк объем данных настолько велик, что даже 7000 колонок мой компьютер обрабатывает с трудом во время обучения.

[[3755  178]
 [ 294 2773]]
Accuracy: 0.8968571428571429
Recall: 0.8509944571242256
Precision: 0.9078260869565218